Function-OneWorldProfileSync-main/Amadeus SOAP Request Response/1ASIWPASAS_PDT_20200911_215407.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with WSDLGenerator 2.0.0 by Amadeus SAS-->
<!--  Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2015 - Amadeus s.a.s - All Rights Reserved.  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:amasec="http://xml.amadeus.com/2010/06/Security_v1" xmlns:awsl="http://wsdl.amadeus.com/2010/06/ws/Link_v1" xmlns:awsse="http://xml.amadeus.com/2010/06/Session_v3" xmlns:security_authenticate_6_1="http://xml.amadeus.com/VLSSLQ_06_1_1A" xmlns:security_authenticatereply_6_1="http://xml.amadeus.com/VLSSLR_06_1_1A" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xml.amadeus.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com">
  <wsp:Policy wsu:Id="MessagingPolicy">
    <wsam:Addressing wsp:Optional="true">
      <wsp:Policy>
        <wsam:AnonymousResponses />
      </wsp:Policy>
    </wsam:Addressing>
  </wsp:Policy>
  <wsp:Policy wsu:Id="AmadeusPolicy">
    <wsp:PolicyReference URI="#MessagingPolicy" />
  </wsp:Policy>
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="Security_Authenticate_06_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSLQ_06_1_1A" />
      <xs:import schemaLocation="Security_AuthenticateReply_06_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSLR_06_1_1A" />
      <xs:import schemaLocation="Security_SignOut_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" />
      <xs:import schemaLocation="Security_SignOutReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" />
      <xs:import schemaLocation="AMA/2012B/AMA_WS_Session.xsd" namespace="http://xml.amadeus.com/2010/06/Session_v3" />
      <xs:import schemaLocation="AMA_WSLink.xsd" namespace="http://wsdl.amadeus.com/2010/06/ws/Link_v1" />
      <xs:import schemaLocation="AMA/2012B/AMA_SecurityHostedUser.xsd" namespace="http://xml.amadeus.com/2010/06/Security_v1" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Session_3.000">
    <wsdl:part name="session" element="awsse:Session" />
  </wsdl:message>
  <wsdl:message name="TransactionFlowLink_1.0">
    <wsdl:part name="link" element="awsl:TransactionFlowLink" />
  </wsdl:message>
  <wsdl:message name="AMA_SecurityHostedUser_1.000">
    <wsdl:part name="security" element="amasec:AMA_SecurityHostedUser" />
  </wsdl:message>
  <wsdl:message name="Security_Authenticate_6_1">
    <wsdl:part name="Security_Authenticate_6_1" element="security_authenticate_6_1:Security_Authenticate" />
  </wsdl:message>
  <wsdl:message name="Security_AuthenticateReply_6_1">
    <wsdl:part name="Security_AuthenticateReply_6_1" element="security_authenticatereply_6_1:Security_AuthenticateReply" />
  </wsdl:message>
  <wsdl:message name="Security_SignOut_4_1">
    <wsdl:part name="Security_SignOut_4_1" element="security_signout_4_1:Security_SignOut" />
  </wsdl:message>
  <wsdl:message name="Security_SignOutReply_4_1">
    <wsdl:part name="Security_SignOutReply_4_1" element="security_signoutreply_4_1:Security_SignOutReply" />
  </wsdl:message>
  <wsdl:portType name="AmadeusWebServicesPT">
    <wsdl:operation name="Security_Authenticate">
      <wsdl:input message="tns:Security_Authenticate_6_1" />
      <wsdl:output message="tns:Security_AuthenticateReply_6_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <wsdl:input message="tns:Security_SignOut_4_1" />
      <wsdl:output message="tns:Security_SignOutReply_4_1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmadeusWebServicesBinding" type="tns:AmadeusWebServicesPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Security_Authenticate">
      <soap:operation soapAction="http://webservices.amadeus.com/VLSSLQ_06_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <soap:operation soapAction="http://webservices.amadeus.com/VLSSOQ_04_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmadeusWebServices">
    <wsdl:port binding="tns:AmadeusWebServicesBinding" name="AmadeusWebServicesPort">
      <wsp:PolicyReference URI="#AmadeusPolicy" />
      <soap:address location="https://nodeA3.test.webservices.amadeus.com/1ASIWPASAS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
<!--1F8B0800000000000000258DB10AC2301806F73EC5372AD2F2272862B650B108150A113A07FD874093943408797B83AE07773770E064B38B01D979DEB2F5AB8224492D5D5A21704BEE6D0BA450A7A3A23386C7F340A4889AD95C470C7F3F267C386D3553E58E3A6AFAC571C8B0EBBAB8D76FA0A00DC658EC920B4CD9327BEC266DF6B5A42704EB594168739F2BD4E60B82128CCE9A000000-->
