Function-OneWorldProfileSync-main/Amadeus SOAP Request Response/AirlineProfileAccess_12.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdl.amadeus.com/AirlineProfileAccess_v12" xmlns:ama_2008_10_AMA_Profile="http://xml.amadeus.com/2008/10/AMA/Profile" targetNamespace="http://wsdl.amadeus.com/AirlineProfileAccess_v12" name="AirlineProfileAccess_12.2">
  <wsdl:documentation>Version 12.2</wsdl:documentation>
  <wsdl:types>
    <xs:schema>
      <xs:import namespace="http://xml.amadeus.com/2008/10/AMA/Profile" schemaLocation="AMA/2012U/AMA_DeleteRQ.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2008/10/AMA/Profile" schemaLocation="AMA/2012U/AMA_DeleteRS.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2008/10/AMA/Profile" schemaLocation="AMA/2012U/AMA_ProfileCreateRQ.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2008/10/AMA/Profile" schemaLocation="AMA/2012U/AMA_ProfileCreateRS.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2008/10/AMA/Profile" schemaLocation="AMA/2012U/AMA_ProfilePartialUpdateRQ.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2008/10/AMA/Profile" schemaLocation="AMA/2012U/AMA_ProfilePartialUpdateRS.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2008/10/AMA/Profile" schemaLocation="AMA/2012U/AMA_ProfileReadRQ.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2008/10/AMA/Profile" schemaLocation="AMA/2012U/AMA_ProfileReadRS.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2008/10/AMA/Profile" schemaLocation="AMA/2012U/AMA_UpdateRQ.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2008/10/AMA/Profile" schemaLocation="AMA/2012U/AMA_UpdateRS.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="AMA_DeleteRQ_2.001">
    <wsdl:part name="body" element="ama_2008_10_AMA_Profile:AMA_DeleteRQ" />
  </wsdl:message>
  <wsdl:message name="AMA_DeleteRS_2.001">
    <wsdl:part name="body" element="ama_2008_10_AMA_Profile:AMA_DeleteRS" />
  </wsdl:message>
  <wsdl:message name="AMA_ProfileCreateRQ_3.001">
    <wsdl:part name="body" element="ama_2008_10_AMA_Profile:AMA_ProfileCreateRQ" />
  </wsdl:message>
  <wsdl:message name="AMA_ProfileCreateRS_2.003">
    <wsdl:part name="body" element="ama_2008_10_AMA_Profile:AMA_ProfileCreateRS" />
  </wsdl:message>
  <wsdl:message name="AMA_ProfilePartialUpdateRQ_1.011">
    <wsdl:part name="body" element="ama_2008_10_AMA_Profile:AMA_ProfilePartialUpdateRQ" />
  </wsdl:message>
  <wsdl:message name="AMA_ProfilePartialUpdateRS_2.002">
    <wsdl:part name="body" element="ama_2008_10_AMA_Profile:AMA_ProfilePartialUpdateRS" />
  </wsdl:message>
  <wsdl:message name="AMA_ProfileReadRQ_3.002">
    <wsdl:part name="body" element="ama_2008_10_AMA_Profile:AMA_ProfileReadRQ" />
  </wsdl:message>
  <wsdl:message name="AMA_ProfileReadRS_2.005">
    <wsdl:part name="body" element="ama_2008_10_AMA_Profile:AMA_ProfileReadRS" />
  </wsdl:message>
  <wsdl:message name="AMA_UpdateRQ_1.012">
    <wsdl:part name="body" element="ama_2008_10_AMA_Profile:AMA_UpdateRQ" />
  </wsdl:message>
  <wsdl:message name="AMA_UpdateRS_1.012">
    <wsdl:part name="body" element="ama_2008_10_AMA_Profile:AMA_UpdateRS" />
  </wsdl:message>
  <wsdl:portType name="AirlineProfileAccess_PT">
    <wsdl:operation name="Profile_AirlineCreate">
      <wsdl:documentation>Version 12.2</wsdl:documentation>
      <wsdl:input message="tns:AMA_ProfileCreateRQ_3.001" />
      <wsdl:output message="tns:AMA_ProfileCreateRS_2.003" />
    </wsdl:operation>
    <wsdl:operation name="Profile_AirlineDelete">
      <wsdl:documentation>Version 12.2</wsdl:documentation>
      <wsdl:input message="tns:AMA_DeleteRQ_2.001" />
      <wsdl:output message="tns:AMA_DeleteRS_2.001" />
    </wsdl:operation>
    <wsdl:operation name="Profile_AirlineRetrieve">
      <wsdl:documentation>Version 12.2</wsdl:documentation>
      <wsdl:input message="tns:AMA_ProfileReadRQ_3.002" />
      <wsdl:output message="tns:AMA_ProfileReadRS_2.005" />
    </wsdl:operation>
    <wsdl:operation name="Profile_AirlineUpdate">
      <wsdl:documentation>Version 12.2</wsdl:documentation>
      <wsdl:input message="tns:AMA_UpdateRQ_1.012" />
      <wsdl:output message="tns:AMA_UpdateRS_1.012" />
    </wsdl:operation>
    <wsdl:operation name="Profile_MileageUpdate">
      <wsdl:documentation>Version 12.2</wsdl:documentation>
      <wsdl:input message="tns:AMA_ProfilePartialUpdateRQ_1.011" />
      <wsdl:output message="tns:AMA_ProfilePartialUpdateRS_2.002" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>

